
<div class="row columns">
  <div class="title-bar" data-responsive-toggle="top_menu" data-hide-for="medium">
    <button class="menu-icon float-right" type="button" data-toggle id="menu-chevron"></button>
  </div>
  <div class="top-bar" id="top_menu">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-home"><a href="{{root}}index.html">Piquant Northwest</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="vertical medium-horizontal menu">
      {{#each menu}}
        <li>
          <a href="{{root}}{{#lowercase}}{{this.label}}{{/lowercase}}.html">
          {{#unless this.image}}
            {{this.label}}
          {{else}}
            <img src="{{root}}assets/img/{{this.image}}" alt="{{this.label}}"/>
          {{/unless}}
          </a>
        </li>
      {{/each}}
      </ul>
    </div>
  </div>
</div>
<div class="row columns">
  <img src="assets/img/banner.png"></img>
</div>
